<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizhi.mapper.BlogCommontMapper">
	<resultMap id="CommontResultMap" type="com.lizhi.bean.BlogCommont">
		<result column="id" property="id"   javaType="String" jdbcType="VARCHAR"/>
		<result column="userid" property="userid"   javaType="String" jdbcType="VARCHAR"/>
		<result column="username" property="username"   javaType="String" jdbcType="VARCHAR"/>
		<result column="createTime" property="createTime"   javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="content" property="content"   javaType="String" jdbcType="VARCHAR"/>
		<result column="articleId" property="articleId"   javaType="String" jdbcType="VARCHAR"/>
		<result column="deleted" property="deleted"   javaType="int" jdbcType="INTEGER"/>
	</resultMap>

	<!--用于动态生成sql所需的配置-->
	<sql id="config">
		<bind name="resultMapId" value="'CommontResultMap'"/>
		<bind name="tableName" value="'t_blog_commont'"/>
	</sql>

	<insert id="insert" parameterType="com.lizhi.bean.BlogCommont">
		<include refid="config"/>
		<include refid="BasicMapper.buildInsertSql"/>
	</insert>

	<insert id="batchInsert" parameterType="java.util.List">
		<include refid="config"/>
		<include refid="BasicMapper.buildBatchInsertSql"/>
	</insert>

	<delete id="deleteByPK" >
        delete from t_blog_commont where id =#{id}
    </delete>

	<select id="selectByPK"  resultMap="CommontResultMap">
		select * from t_blog_commont where id = #{id}
	</select>

	<delete id="delete" parameterType="com.lizhi.bean.BlogCommont">
		<include refid="config"/>
		<include refid="BasicMapper.buildDeleteSql"/>
	</delete>

	<update id="update" parameterType="com.lizhi.bean.BlogCommont">
		<include refid="config"/>
		<include refid="BasicMapper.buildUpdateSql"/>
	</update>

	<select id="query" parameterType="com.lizhi.bean.BlogCommont" resultMap="CommontResultMap">
		<include refid="config"/>
		<include refid="BasicMapper.buildSelectSql"/>
	</select>

	<select id="count" parameterType="com.lizhi.bean.BlogCommont" resultType="int">
		<include refid="config"/>
		<include refid="BasicMapper.buildTotalSql"/>
	</select>
</mapper>