<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//testMybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizhi.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.lizhi.bean.User">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'BaseResultMap'"/>
        <bind name="tableName" value="'users'"/>
    </sql>

    <insert id="insert" parameterType="com.lizhi.bean.User">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <insert id="batchInsert" parameterType="com.lizhi.bean.User">
        <include refid="config"/>
        <include refid="BasicMapper.buildBatchInsertSql"/>
    </insert>

    <delete id="deleteByPK" >
        delete from users where id =#{id}
    </delete>

    <select id="selectByPK"  resultMap="BaseResultMap">
		select * from users where id = #{id}
	</select>

    <delete id="delete" parameterType="com.lizhi.bean.User">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="com.lizhi.bean.User">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="query" parameterType="com.lizhi.bean.User" resultMap="BaseResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="count" parameterType="com.lizhi.bean.User" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
